<launch>

	<group ns = "mesh_map">
		<node pkg = "mesh_map" type = "mesh_map" name = "mesh_map" output = "screen"/>

		<node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/mrsl_student/git/catkin_ws/src/mesh_map-master/src/BoardFile.bag"/>
		
		<node pkg = "rviz" type = "rviz" name = "rviz"/>
	</group>

</launch>

