<launch>

	<group ns = "mesh_map">
		<rosparam command = "load" file = "$(find mesh_map)/launchParameters.yaml"/>
		
		<node pkg = "rosbag" type = "play" name = "player" args = "/home/mrsl_student/git/catkin_ws/src/mesh_map/src/BoardFile.bag"/>
		
		<node pkg = "mesh_map" type = "mesh_map" name = "mesh_map" output = "screen"/>
		
		<node pkg = "rviz" type = "rviz" name = "rviz"/>

		<node pkg = "mesh_map" type = "RVIZ_Publisher" name = "RVIZ_Publisher" output = "screen"/>
	</group>

</launch>

